@import url('init.css');

header {
    position: fixed;

    top: 0;
    left: 0;

    z-index: 99999;

    height: 100vh;
    width: 310px;

    display: flex;
    flex-direction: column;
    gap: 13px;

    padding: 40px 30px;

    border-right: 1px solid var(--border-color);

    background: var(--background-color);
}

header .logo {
    color: var(--text-color);
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    transition: 300ms;
}

header .logo a {
    color: inherit;
}

.colorLogo {
    color: var(--primary-color);
}

header .border {
    height: 1px;
    width: 100%;
    background-color: var(--border-color);
    outline: none;
    border: none;
    margin: 10px 0;
}

header .list {
    display: flex;
    flex-direction: column;

    gap: 34px;
}

header .secondary-list {
    display: flex;
    flex-direction: column;

    gap: 9px;
}

header a:is(.list-item) {
    color: var(--text-color);

    font-size: 15px;
    font-weight: 300;

    line-height: normal;

    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    width: max-content;
}

header .list-item.title {
    margin-top: 20px;
    font-weight: 700;
}

header .secondary-list a:is(.list-item) {
    color: var(--text-color-gray);
    transform: translateX(20px);
}

header a:is(.list-item):hover {
    transform: translateX(10px);
    color: var(--primary-color);

    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

header .secondary-list a:is(.list-item):hover {
    transform: translateX(30px);
}

header .secondary-list a:is(.list-item).active {
    color: var(--primary-color);
    transform: translateX(30px);
}


header .burger {
    display: none;
}

header .burger_label {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

header .burger_label span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 2px;
    background: #fff;
    transition: all 300ms ease-in-out;
}

header .burger_label span:first-of-type {
    top: 30%;
}

header .burger_label span:last-of-type {
    top: 70%;
}

header .burger:checked+.burger_label span {
    opacity: 0;
    top: 50%;
}

header .burger:checked+.burger_label span:first-of-type {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(405deg);
    background: var(--primary-color);
}

header .burger:checked+.burger_label span:last-of-type {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(-405deg);
    background: var(--primary-color);
}


@media screen and (max-width: 830px) {
    header {
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        height: 80px;
        width: 100%;
        border-right: none;
        border-bottom: 1px solid var(--border-color);
        gap: 0;
        padding: 0 2rem;
        transition: 300ms;
    }

    header .burger_label {
        display: block;
    }

    header a:is(.list-item):hover {
        transform: translateX(0);
    }

    header.scrolled-down {
        height: 65px;
        transition: 300ms;
    }

    header .logo {
        font-size: 30px;
        transition: 300ms;
    }

    header.scrolled-down .logo {
        font-size: 25px;
        transition: 300ms;
    }

    header .list {
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: 0;
        justify-content: center;
        align-items: center;
        background: var(--background-color);
        overflow: hidden;
        transition: 300ms;
    }

    header.scrolled-down .list {
        top: 65px;
        height: 0;
    }

    header .list li, header .list ul, header .list a {
        opacity: 0;
        transition: 200ms;
    }

    .burger:checked~.list li, .burger:checked~.list ul, .burger:checked~.list a {
        opacity: 1;
        transition: 200ms;
    }

    .burger:checked~.list {
        height: calc(100dvh - 80px);
    }

    .burger:checked~.scrolled-down .list  {
        height: calc(100dvh - 65px);
    }

    header .secondary-list {
        align-items: center;
    }

    header .secondary-list a:is(.list-item), header .secondary-list a:is(.list-item):hover, header .secondary-list a:is(.list-item).active  {
        transform: translateX(0);
    }

    header .border {
        display: none;
    }
}
