@import url('init.css');

header {
    position: fixed;

    top: 0;
    left: 0;

    z-index: 99999;

    height: 100vh;
    width: 310px;

    display: flex;
    flex-direction: column;
    gap: 13px;

    padding: 40px 30px;

    border-right: 1px solid var(--border-color);

    background: var(--background-color-03);
    backdrop-filter: blur(19px);
}

header .logo {
    color: var(--text-color);
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    transition: 0.3s;
}

header .logo a {
    color: inherit;
}

.colorLogo {
    color: var(--primary-color);
}

header .border {
    height: 1px;
    width: 100%;
    background-color: var(--border-color);
    outline: none;
    border: none;
    margin: 10px 0;
}

header .list {
    display: flex;
    flex-direction: column;

    gap: 34px;
}

header .secondary-list {
    display: flex;
    flex-direction: column;

    gap: 9px;
}

header a:is(.list-item) {
    color: var(--text-color);

    font-size: 15px;
    font-weight: 300;

    line-height: normal;

    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    width: max-content;
}

header .list-item.title {
    margin-top: 20px;
    font-weight: 700;
}

header .secondary-list a:is(.list-item) {
    color: var(--text-color-gray);
    transform: translateX(20px);
}

header a:is(.list-item):hover {
    transform: translateX(10px);
    color: var(--primary-color);

    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

header .secondary-list a:is(.list-item):hover {
    transform: translateX(30px);
}

header .secondary-list a:is(.list-item).active {
    color: var(--primary-color);
    transform: translateX(30px);
}

@media screen and (max-width: 830px) {
    header {
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        height: 80px;
        width: 100%;
        border-right: none;
        border-bottom: 1px solid var(--border-color);
        gap: 0;
        padding: 0 2rem;
        transition: 0.3s;
    }

    header.scrolled-down {
        height: 65px;
        transition: 0.3s;
    }

    header.scrolled-down .logo {
        font-size: 30px;
        transition: 0.3s;
    }

    header .list {
        display: none;
    }

    header .border {
        display: none;
    }
}
